<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
</head>
<body>
	<div align="center">
		<h1>Add Product</h1>
		<form action="/add-product" method="post" enctype="multipart/form-data">
			Name: <input type="text" name="name"><br>
			<br> Brand: <input type="text" name="brand"><br>
			<br> Price: <input type="text" name="price"><br>
			<br> Size: <input type="text" name="size"><br>
			<br> Stock: <input type="number" name="stock"><br>
			<br> Description: <input type="text" name="description"><br>
			<br> Image: <input type="file" name="image"><br>
			<br>
			<button>Add</button>
		</form><br>
		<br> <a href="/seller-home"><button>Back</button></a>
	</div>
</body>
</html>