<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<h1>Seller Login</h1>

	<h3 th:text="${fail}"></h3>
	<h4 th:text="${pass}"></h4>

	<form action="/seller-login" method="post">
		Email: <input type="email" name="email"><br> Password:<input
			type="password" name="password"><br>
		<button>Login</button>
	</form>
	
	<br>
	<h2>Are you a Customer? <a href="/customer-login">Click</a> here to Login as a Customer</h2>
	
	
</body>
</html>